@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TT Hoves';
    font-weight: 400;
    src: url('./assets/fonts/TTHovesRegular/font.woff2') format('woff2'), url('./assets/fonts/TTHovesRegular/font.woff') format('woff');
  }

  @font-face {
    font-family: 'TT Hoves';
    font-weight: 500;
    src: url('./assets/fonts/TTHovesMedium/font.woff2') format('woff2'), url('./assets/fonts/TTHovesMedium/font.woff') format('woff');
  }

  @font-face {
    font-family: 'TT Hoves';
    font-weight: 600;
    src: url('./assets/fonts/TTHovesDemiBold/font.woff2') format('woff2'), url('./assets/fonts/TTHovesDemiBold/font.woff') format('woff');
  }

  body {
    @apply bg-gray-100;
  }
}

@layer components {}

@layer utilities {}

// Vue transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}